<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <!-- HEAD START -->
  {{ partial "head/base.html" . }}
  <!-- HEAD END -->

  <body
    class="font-inter relative flex min-h-dvh w-full flex-col bg-neutral-50 text-neutral-800 sm:min-h-screen"
  >
    <!-- HEADER START -->
    {{- partial "navigation/header.html" . -}}
    <!-- HEADER END -->

    <!-- MAIN START -->
    <main class="animate-fade-in-up grow">
      {{- block "main" . }}{{- end }}
    </main>
    <!-- MAIN END -->

    <!-- FOOTER START -->
    {{ partial "navigation/footer.html" . }}
    <!-- FOOTER END -->

    <!-- BACK-TO-TOP BUTTON START -->
    {{ partial "components/back-to-top.html" . }}
    <!-- BACK-TO-TOP BUTTON END -->

    <!-- BACKGROUND PATTERN START -->
    <div
      class="absolute inset-0 -z-50 h-full w-full bg-neutral-50 bg-[radial-gradient(#cccccc_1px,transparent_1px)] [background-size:32px_32px]"
    ></div>
    <!-- BACKGROUND PATTERN END -->

    <!-- DEV TOOLS START -->
    {{- partial "dev/dev-tools.html" . -}}
    <!-- DEV TOOLS END -->
  </body>

  <!-- SCRIPTS START -->
  <!-- LUCIDE ICON -->
  {{ partialCached "scripts/lucide-icon.html" . }}
</html>
